
.App {
  text-align: center;
}

.openText{
  padding-top: 1%;
}

.open1{
  color: #000000;
  font-size: 250%;
}

.open2{
  padding-bottom: 2%;
  color: #000000;
  font-size: 150%;
}

.cards{
  display: flex;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  background-color: orange;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 5%;
  font-size: 1em;
  line-height: 1.4em;
}

.card header{
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 4%;
}
/**/
.general {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.767)
}

.general h2{
  color: orange;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #000000;
}

.forgotP-button{
  color: #000000;
}

.socialBtn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border: 1px solid #ccc;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  background-color: #f5f5f5;
  font-size: 0.875rem;
  font-weight: 500;
}
